.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/.quarto/
/_site/

*.dat
results/

*.Rproj

lectures/12-programming-in-python/*_cache
lectures/12-programming-in-python/*_files
lectures/12-programming-in-python/*.html